# Práctica Clase 6

1) Cargar el dataset "Emisiones_CO2.csv" provisto en la clase 2 en un Dataframe de Pandas, quitar los registros que contengan valores faltantes e implementar una nueva columna, que contenga el resultado de una función Hash aplicada sobre el campo "Código de País" y se denomine "Clave_Hash".<br>
Consideraciones: Se puede utilizar la función provista.

In [1]:
def hash_function(key):
    return sum(index * ord(character) for index, character in enumerate(repr(key), start=1))

In [4]:
print(hash_function('pato'))
print(hash_function('tapo'))

1807
1799

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('Emisiones_CO2.csv',sep='|',decimal=',', encoding='latin-1',thousands='.')
df

,Código de país,Nombre del país,Región,Año,CO2 (kt),CO2 per cápita (toneladas métricas)
0,ABW,Aruba,América Latina y Caribe,1960,NaN,NaN
1,ABW,Aruba,América Latina y Caribe,1961,NaN,NaN
2,ABW,Aruba,América Latina y Caribe,1962,NaN,NaN
3,ABW,Aruba,América Latina y Caribe,1963,NaN,NaN
4,ABW,Aruba,América Latina y Caribe,1964,NaN,NaN
...,...,...,...,...,...,...
11122,ZWE,Zimbabue,África subsahariana,2007,9732.22,0.731867
11123,ZWE,Zimbabue,África subsahariana,2008,7682.37,0.569255
11124,ZWE,Zimbabue,África subsahariana,2009,8239.75,0.600521
11125,ZWE,Zimbabue,África subsahariana,2010,9028.15,0.646073
11126,ZWE,Zimbabue,África subsahariana,2011,9860.56,0.691698

In [7]:
df.dropna(inplace=True)
df.info

<bound method DataFrame.info of       Código de país Nombre del país                   Región   Año  CO2 (kt)  \
26               ABW           Aruba  América Latina y Caribe  1986   179.683
27               ABW           Aruba  América Latina y Caribe  1987   447.374
28               ABW           Aruba  América Latina y Caribe  1988   612.389
29               ABW           Aruba  América Latina y Caribe  1989   649.059
30               ABW           Aruba  América Latina y Caribe  1990  1840.830
...              ...             ...                      ...   ...       ...
11122            ZWE        Zimbabue      África subsahariana  2007  9732.220
11123            ZWE        Zimbabue      África subsahariana  2008  7682.370
11124            ZWE        Zimbabue      África subsahariana  2009  8239.750
11125            ZWE        Zimbabue      África subsahariana  2010  9028.150
11126            ZWE        Zimbabue      África subsahariana  2011  9860.560

       CO2 per cápita (toneladas métricas)
26                                2.868319
27                                7.234964
28                               10.026508
29                               10.634733
30                               29.620165
...                                    ...
11122                             0.731867
11123                             0.569255
11124                             0.600521
11125                             0.646073
11126                             0.691698

[9029 rows x 6 columns]>

In [8]:
df.rename(columns={'Código de país': 'cod_pais','Nombre del país':'nom_pais','CO2 (kt)':'emision_co2','CO2 per cápita (toneladas métricas':'emisiones_co2_percapita'}, inplace=True)

In [11]:
df['clave_hash'] = df['cod_pais'].apply(hash_function)
df

,cod_pais,nom_pais,Región,Año,emision_co2,CO2 per cápita (toneladas métricas),clave_hash
26,ABW,Aruba,América Latina y Caribe,1986,179.683,2.868319,910
27,ABW,Aruba,América Latina y Caribe,1987,447.374,7.234964,910
28,ABW,Aruba,América Latina y Caribe,1988,612.389,10.026508,910
29,ABW,Aruba,América Latina y Caribe,1989,649.059,10.634733,910
30,ABW,Aruba,América Latina y Caribe,1990,1840.830,29.620165,910
...,...,...,...,...,...,...,...
11122,ZWE,Zimbabue,África subsahariana,2007,9732.220,0.731867,951
11123,ZWE,Zimbabue,África subsahariana,2008,7682.370,0.569255,951
11124,ZWE,Zimbabue,África subsahariana,2009,8239.750,0.600521,951
11125,ZWE,Zimbabue,África subsahariana,2010,9028.150,0.646073,951
11126,ZWE,Zimbabue,África subsahariana,2011,9860.560,0.691698,951

resuelto por papi

In [ ]:
#df_copia = df.dropna(subset=['CO2 (kt)'])
#df_copia['Clave_Hash'] = df_copia['Código de país'].apply(hash_function)
#df_copia
#df_copia = df_copia.sort_values(by='CO2 (kt)', ascending=False)
df_copia = df.sort_values(by='CO2 (kt)', ascending=False)
df_copia = df_copia.drop_duplicates(subset=['Código de país'])
df_copia

In [143]:
df_copia = df_copia.dropna(subset=['CO2 (kt)'])
df_copia['Clave_Hash'] = df_copia['Código de país'].apply(hash_function)
df_copia

,Código de país,Nombre del país,Región,Año,CO2 (kt),CO2 per cápita (toneladas métricas),Clave_Hash
4347,HTI,Haití,América Latina y Caribe,1991,"997,424",0.137701,922
7305,NER,Níger,África subsahariana,1985,"997,424",0.145861,925
873,BFA,Burkina Faso,África subsahariana,2001,"997,424",0.083510,836
6679,MLT,Malta,Oriente Medio y Norte de África,1983,"997,424",3.017705,952
7748,PAN,Panamá,América Latina y Caribe,1960,"997,424",0.880398,901
...,...,...,...,...,...,...,...
8456,RUS,Rusia,Europa y Asia Central,1992,"2.081.840,24",14.001306,985
9927,TLS,Timor Oriental,Asia Oriental y Asia-Pacífico,2008,"190,684",0.185017,962
9303,SVN,Eslovenia,Europa y Asia Central,2008,"17.245,90",8.532016,970
2528,CZE,República Checa,Europa y Asia Central,1992,"138.667,61",13.437925,914
10493,UZB,Uzbekistán,Europa y Asia Central,2002,"128.077,31",5.067983,938

2. A partir del Dataframe creado en el punto 1, construir uno nuevo, que contenga solo los valores distintos de la tupla "Clave_Hash", "Código de País" , "Nombre de país" y "Región". Quitando luego del dataframe original los campos "Código de País" , "Nombre de país" y "Región"

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9029 entries, 26 to 11126
Data columns (total 7 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   cod_pais                             9029 non-null   object
 1   nom_pais                             9029 non-null   object
 2   Región                               9029 non-null   object
 3   Año                                  9029 non-null   int64
 4   emision_co2                          9029 non-null   float64
 5   CO2 per cápita (toneladas métricas)  9029 non-null   float64
 6   clave_hash                           9029 non-null   int64
dtypes: float64(2), int64(2), object(3)
memory usage: 564.3+ KB

In [18]:
df_valores_unicos = df[['clave_hash','cod_pais','nom_pais','Región']].drop_duplicates().reset_index()
df.drop(['cod_pais','nom_pais','Región'], inplace=True, axis=1)
df_valores_unicos
df.info()

KeyError: "['cod_pais', 'nom_pais', 'Región'] not in index"

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9029 entries, 26 to 11126
Data columns (total 4 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Año                                  9029 non-null   int64
 1   emision_co2                          9029 non-null   float64
 2   CO2 per cápita (toneladas métricas)  9029 non-null   float64
 3   clave_hash                           9029 non-null   int64
dtypes: float64(2), int64(2)
memory usage: 352.7 KB

In [20]:
df_valores_unicos['']
df_valores_unicos['clave_hash'] == 910

0       True
1      False
2      False
3      False
4      False
       ...
194    False
195    False
196    False
197    False
198    False
Name: clave_hash, Length: 199, dtype: bool

usar merge, ejercicio para investigar

resuelto por papi

In [12]:
df_2 = df_copia.loc[:,['Clave_Hash','Código de país','Nombre del país','Región']]
#df_2.info
df_2

NameError: name 'df_copia' is not defined