# Práctica Clase 6

1) Cargar el dataset "Emisiones_CO2.csv" provisto en la clase 2 en un Dataframe de Pandas, quitar los registros que contengan valores faltantes e implementar una nueva columna, que contenga el resultado de una función Hash aplicada sobre el campo "Código de País" y se denomine "Clave_Hash".<br>
Consideraciones: Se puede utilizar la función provista.

In [56]:
def hash_function(key):
    return sum(index * ord(character) for index, character in enumerate(repr(key), start=1))

In [57]:
print(hash_function('tony'))
print(hash_function('tapo'))

1883
1799

In [58]:
import pandas as pd

In [109]:
df = pd.read_csv('Emisiones_CO2.csv',sep='|',decimal=',', encoding='latin-1')
df

,Código de país,Nombre del país,Región,Año,CO2 (kt),CO2 per cápita (toneladas métricas)
0,ABW,Aruba,América Latina y Caribe,1960,NaN,NaN
1,ABW,Aruba,América Latina y Caribe,1961,NaN,NaN
2,ABW,Aruba,América Latina y Caribe,1962,NaN,NaN
3,ABW,Aruba,América Latina y Caribe,1963,NaN,NaN
4,ABW,Aruba,América Latina y Caribe,1964,NaN,NaN
...,...,...,...,...,...,...
11122,ZWE,Zimbabue,África subsahariana,2007,"9.732,22",0.731867
11123,ZWE,Zimbabue,África subsahariana,2008,"7.682,37",0.569255
11124,ZWE,Zimbabue,África subsahariana,2009,"8.239,75",0.600521
11125,ZWE,Zimbabue,África subsahariana,2010,"9.028,15",0.646073
11126,ZWE,Zimbabue,África subsahariana,2011,"9.860,56",0.691698

In [113]:
df_copia = df.dropna(subset=['CO2 (kt)'])
df_copia['Clave_Hash'] = df_copia['Código de país'].apply(hash_function)
df_copia

C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_15456\2815442757.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_copia['Clave_Hash'] = df_copia['Código de país'].apply(hash_function)

,Código de país,Nombre del país,Región,Año,CO2 (kt),CO2 per cápita (toneladas métricas),Clave_Hash
26,ABW,Aruba,América Latina y Caribe,1986,"179,683",2.868319,910
27,ABW,Aruba,América Latina y Caribe,1987,"447,374",7.234964,910
28,ABW,Aruba,América Latina y Caribe,1988,"612,389",10.026508,910
29,ABW,Aruba,América Latina y Caribe,1989,"649,059",10.634733,910
30,ABW,Aruba,América Latina y Caribe,1990,"1.840,83",29.620165,910
...,...,...,...,...,...,...,...
11122,ZWE,Zimbabue,África subsahariana,2007,"9.732,22",0.731867,951
11123,ZWE,Zimbabue,África subsahariana,2008,"7.682,37",0.569255,951
11124,ZWE,Zimbabue,África subsahariana,2009,"8.239,75",0.600521,951
11125,ZWE,Zimbabue,África subsahariana,2010,"9.028,15",0.646073,951
11126,ZWE,Zimbabue,África subsahariana,2011,"9.860,56",0.691698,951

In [111]:
#df_copia['Clave_Hash'].unique()
#df_copia.filter([df_copia['Clave_Hash'].unique()])
#df_copia['Clave_Hash'].isin([df_copia['Clave_Hash'].unique()])
df_copia = df.drop_duplicates(subset=['Código de país'])
df_copia.info

<bound method DataFrame.info of       Código de país                Nombre del país  \
0                ABW                          Aruba
52               AND                        Andorra
104              AFG                     Afganistán
156              AGO                         Angola
208              ALB                        Albania
...              ...                            ...
10867            YEM                          Yemen
10919            ZAF                      Sudáfrica
10971            COD  Congo (República Democrática)
11023            ZMB                         Zambia
11075            ZWE                       Zimbabue

                                Región   Año   CO2 (kt)  \
0              América Latina y Caribe  1960        NaN
52               Europa y Asia Central  1960        NaN
104                        Sur de Asia  1960    414,371
156                África subsahariana  1960     550,05
208              Europa y Asia Central  1960   2.024,18
...                                ...   ...        ...
10867  Oriente Medio y Norte de África  1960   3.634,00
10919              África subsahariana  1960  97.934,57
10971              África subsahariana  1960   2.321,21
11023              África subsahariana  1960        NaN
11075              África subsahariana  1960        NaN

       CO2 per cápita (toneladas métricas)
0                                      NaN
52                                     NaN
104                               0.046068
156                               0.104357
208                               1.258195
...                                    ...
10867                             0.703403
10919                             5.629718
10971                             0.152228
11023                                  NaN
11075                                  NaN

[214 rows x 6 columns]>

In [112]:
df_copia = df_copia.drop_duplicates(subset=['Código de país'])
df_copia.info

<bound method DataFrame.info of       Código de país                Nombre del país  \
0                ABW                          Aruba
52               AND                        Andorra
104              AFG                     Afganistán
156              AGO                         Angola
208              ALB                        Albania
...              ...                            ...
10867            YEM                          Yemen
10919            ZAF                      Sudáfrica
10971            COD  Congo (República Democrática)
11023            ZMB                         Zambia
11075            ZWE                       Zimbabue

                                Región   Año   CO2 (kt)  \
0              América Latina y Caribe  1960        NaN
52               Europa y Asia Central  1960        NaN
104                        Sur de Asia  1960    414,371
156                África subsahariana  1960     550,05
208              Europa y Asia Central  1960   2.024,18
...                                ...   ...        ...
10867  Oriente Medio y Norte de África  1960   3.634,00
10919              África subsahariana  1960  97.934,57
10971              África subsahariana  1960   2.321,21
11023              África subsahariana  1960        NaN
11075              África subsahariana  1960        NaN

       CO2 per cápita (toneladas métricas)
0                                      NaN
52                                     NaN
104                               0.046068
156                               0.104357
208                               1.258195
...                                    ...
10867                             0.703403
10919                             5.629718
10971                             0.152228
11023                                  NaN
11075                                  NaN

[214 rows x 6 columns]>

2. A partir del Dataframe creado en el punto 1, construir uno nuevo, que contenga solo los valores distintos de la tupla "Clave_Hash", "Código de País" , "Nombre de país" y "Región". Quitando luego del dataframe original los campos "Código de País" , "Nombre de país" y "Región"